$contentClass = '.theme-default-content'

 @font-face
   font-family CourierPrime
   font-style normal
   src url('../../../../assets/fonts/Courier Prime.ttf')

 @font-face
   font-family CourierPrimeSans
   font-style normal
   src url('../../../../assets/fonts/Courier Prime Sans.ttf')

 @font-face
   font-family CourierPrimeCode
   font-style normal
   src url('../../../../assets/fonts/Courier Prime Code.ttf')