$contentClass = '.theme-default-content'

$gutterMargin = 20px


@font-face {font-family: "Neue Droschke"; src: url("//db.onlinewebfonts.com/t/05e14400ca041c6b372fd7806974c7ca.eot"); src: url("//db.onlinewebfonts.com/t/05e14400ca041c6b372fd7806974c7ca.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/05e14400ca041c6b372fd7806974c7ca.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/05e14400ca041c6b372fd7806974c7ca.woff") format("woff"), url("//db.onlinewebfonts.com/t/05e14400ca041c6b372fd7806974c7ca.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/05e14400ca041c6b372fd7806974c7ca.svg#Neue Droschke") format("svg"); }

* {
    font-family 'input-mono', monospace;
}